@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--color-primary-1: #fff9ea;
	--color-primary-2: #ffe8b4;
	--color-primary-3: #f8d477;
	--color-primary-4: #ffe100;
	--color-primary-5: #ffcb45;
	--color-primary-6: #e9a209;

	--color-neutral-0: #fff;
	--color-neutral-9: #1d1d1d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-primary-1);
}

a {
	color: var(--color-neutral-9);
	text-decoration: none;
	font-weight: 600;
}

section {
	padding: 28px 8%;
}

.section-title {
	font-size: 30px;
	color: var(--color-primary-6);
	text-align: center;
}

.section-subtitle {
	font-size: 48px;
	text-align: center;
}

.credits {
	padding: 10px;
	color: var(--color-neutral-0);
	background-color: var(--color-neutral-9);
	text-align: center;

	a {
		color: var(--color-neutral-0);
		text-decoration: underline;
	}
}

.btn-default {
	padding: 10px 14px;
	background-color: var(--color-primary-5);
	font-weight: 600;
	border: none;
	border-radius: 12px;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;

	transition: background-color 0.3s ease;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: var(--color-primary-3);
	}
}

.social-media-buttons {
	display: flex;
	flex-direction: row;
	gap: 18px;

	a {
		width: 45px;
		height: 40px;
		font-size: 25px;
		color: #1d1d1d;
		background-color: var(--color-neutral-0);
		border-radius: 10px;
		box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);

		transition: box-shadow 0.3s ease;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		&:hover {
			box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
		}
	}
}
