@charset "UTF-8";

@media screen and (max-width: 1280px) {
	/* -------------------- CONFIG -------------------- */
	section {
		padding-top: 110px;
		/* padding: 100px 8% !important; */
	}

	.section-title {
		font-size: 24px;
	}

	.section-subtitle {
		font-size: 42px;
	}

	/* -------------------- HEADER -------------------- */
	header {
		#navbar {
			#nav_list {
				display: none;
			}

			.btn-default {
				display: none;
			}

			#mobile-btn {
				display: block;
			}
		}

		#mobile-menu {
			&.active {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	/* -------------------- MAIN -------------------- */
	main {
		#home {
			min-height: 100%;
			padding-top: 60px;
			justify-content: center;

			#banner,
			.shape {
				display: none;
			}

			#cta {
				width: 100%;
				max-width: 800px;
				text-align: center;

				align-items: center;

				#title {
					font-size: 42px;
				}

				.description {
					font-size: 20px;
				}
			}
		}

		#menu {
			#dishes {
				flex-wrap: wrap;
				justify-content: center;

				.dish {
					width: calc(50% - 12px);
				}
			}
		}

		#testimonials {
			flex-direction: column;
			align-items: center;

			#testimonials_chef {
				display: none;
			}

			#testimonials_content {
				width: 100%;
				max-width: 800px;

				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}
